::before,
::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

#maintitlebox {
    display: flex;
    width: 100%;
    height: 70px;
    font-size: 20px;
    background-color: rgb(59, 89, 152);
    height: 100px;
}

#maintitle {
    width: 150px;
    height: 60px;
    color: white;
}

#mainbutton {
    width: 50px;
    height: 40px;
    background-color: greenyellow;
}

#reset {
    width: 100%;
    height: 120px;
    clear: both;
}

#mainContainer {
    display: flex;
    justify-content: center;
}

#mainBox {
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width: 1000px;
    height: 500px;
}

#title {
    font-size: 30px;
    width: 400px;
    height: 50px;
    color: black
}

#email {
    width: 400px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
    color: rgb(196, 196, 196);

}

#extraoptions {
    display: flex;
}

#password {
    width: 400px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
    color: rgb(196, 196, 196);
}

#loginButton {
    width: 400px;
    height: 50px;
    color: white;
    background-color: rgb(59, 89, 152);
}

#forgotacc {
    width: 150px;
    height: 25px;
}

#signup {
    width: 150px;
    height: 25px;
}

.text {
    text-align: center;
}